<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>4.12day2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>self.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>带参数的init.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>构造方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>练习1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>练习2.2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>练习2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>练习3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>练习5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>练习6（复合类）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04C3DDBF1CBC8551009B1B60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C3DDD01CBC8650009B1B60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C3DDDE1CBC8F2B009B1B60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C3DDEC1CBC9A30009B1B60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C3DDFA1CBC9C7C009B1B60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C3DE081CBCA04F009B1B60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C3DE161CBCA1BF009B1B60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C3DE241CBCD000009B1B60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C3DE321CBCD418009B1B60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C3DE401CBCE99A009B1B60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
