<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DISC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>可变字符串.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>可变字符串的方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>字符串.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>字符串常用方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>字符串常用方法2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>字符串常用方法3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>赋初值方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>044F48A21CBE3578004F2DCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044F48AD1CBE3894004F2DCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044F48B81CBE4227004F2DCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04783E7E1CBDF273000E82CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04783E8C1CBDF816000E82CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04783EAD1CBE18A3000E82CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04783EB81CBE1D0C000E82CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04783EC31CBE27B7000E82CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
