<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Sum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>oc第一个程序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>set方法的扩展.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>回顾c结构体.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>文件分离.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>求长方形的面积.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>面向对象.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>046A5D3D1D5B193600E3FA28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046A5D581D5B193600E3FA28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046A5D631D5B193600E3FA28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A25A4E1CBB394D000C5561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A25A5C1CBB4A68000C5561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A25A671CBB4D9B000C5561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A25A721CBB7642000C5561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A25A801CBB7B26000C5561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A25A8E1CBB7DC1000C5561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A25A9C1CBB9401000C5561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
